@model mnshTheatreApp.Models.movieModel

@{
    ViewData["Title"] = "Book Tickets";
}

<h1>@Model.MovieName</h1>

<h4>@Model.Location</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="BookMovie">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MovieId" />
            <input type="hidden" asp-for="PosterURL" />
            <div class="form-group">
                <img src="@Url.Content(@Model.PosterURL.ToString())" alt="@Model.MovieName" style="height:300px;width:300px;" />
                <span asp-validation-for="PosterURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailID" class="control-label"></label>
                <input asp-for="EmailID" class="form-control" />
                <span asp-validation-for="EmailID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatNo" class="control-label"></label>
                <input asp-for="SeatNo" class="form-control" />
                <span asp-validation-for="SeatNo" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Location" />
            <input type="hidden" asp-for="AverageRating" />
            <input type="hidden" asp-for="Description" />
            <input type="hidden" asp-for="Language" />
            <input type="hidden" asp-for="MovieName" />
            <div class="form-group">
                <input type="submit" value="Book Ticket" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
